@import "../../styles/main.module.scss";

.treats {
  padding: $mn;

  @include md {
    padding: $sp-m;
  }
  @include breakpoint(700px) {
    padding: $sp-m $sp-xs;
  }

  .treat {
    padding: $mn;
    margin: 0 auto;

    .sectionTitle {
      @include sectionTitle;
      text-align: center;
      padding-bottom: $sp-xl;
    }

    .treatList {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $sp-xxl;
      @include lg {
        gap: $sp-xl;
      }
      @include breakpoint(800px) {
        gap: $sp-l;
      }
      @include breakpoint(700px) {
        gap: $sp-m;
      }

      @include sm {
        flex-direction: column;
        gap: $mn;
      }

      li {
        display: flex;
        place-self: flex-start;
        flex-direction: column;
        place-items: center;
        gap: $sp-l;
        justify-content: space-evenly;
        width: 250px;

        @include sm {
          margin: 0 auto;
        }

        img {
          @include lg {
            width: 85%;
            place-self: flex-start;
          }

          @include sm {
            width: 100%;
            place-self: center;
          }
        }

        h4 {
          place-self: flex-start;
          margin-bottom: -$sp-s;
          width: 100%;

          span {
            float: right;
          }
        }
        .treatText {
          @include treatsText;
          color: $dark;
        }
      }

      .addToCart {
        display: flex;
        width: 100px;
        gap: $sp-s;

        button {
          font-size: 16px;
          padding: 2px 8px;
          background-color: transparent;
        }
      }
    }
  }
}
