@import "../../styles/main.module.scss";

.treats {
 padding: $mn 0;
 

  .treat {
    padding: $mn;
    margin: 0 auto;

    .sectionTitle {
      @include sectionTitle;
      text-align: center;
      padding-bottom: $sp-xl ;
    }

    .treatList {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $sp-xxl;

      li {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: $sp-l;
        justify-content: space-evenly;
        width: 30%;

        .treatText {
         
          @include treatsText;
          padding-top: $sp-l;
        }


      }

      .addToCart {
        display: flex;
        width: 100px;
        gap: $sp-s;

        button {
          font-size: 16px;
          padding: 2px 8px;
          background-color: transparent;
        }
      }
      
     
    }

  }
}