@import "../../styles/main.module.scss";

.hidden {
  display: hidden;
}

.cartBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  border: 1px solid $secondary;
  box-shadow: 2px 2px #81414197;
  border-radius: 10px;
  padding: $sp-xxs $sp-xs;
  margin-top: $sp-s;
  &:hover {
    background-color: $secondary;
  }

  &:hover > * {
    color: $primary; 
  }

  @include md {
    width: 120px;
    padding: $sp-mini $sp-xxs;
  }

  cursor: pointer;
  color: $secondary;

  p {
    margin: 0 auto;
    @include countText;
  }

  .count {
    font-family: Roboto;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: $secondary;  
  }
}
