@import "../../styles/main.module.scss";

.hero {
  height: 100vh;
  padding: $sp-xxl 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heroTitle {
    @include heroTitle;
  }

  .heroText {
    @include heroText;
    padding-top: $sp-m;
  }
}
