//Spacing 

@mixin containerSpacing {
  padding: $sp-xxl 0;
  display: flex;
  gap: $mn;
}


//Typography in order of sections

//Nav
@mixin navText {
  font-size: 20px;
  font-weight: 300;

}

//Hero
@mixin heroTitle {
  font-family: Rosarivo;
  font-size: 64px;
  color: $secondary;
}
@mixin heroText {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}

//Treat 
@mixin treatsTitle {
  font-family: Rosarivo;
  font-size: 36px;
  color: $secondary;
 
}

@mixin treatsText {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
 

}

//Counter 
@mixin countText {
  font-family: Rosarivo;
  font-size: 18px;
}