//Colors
$primary: #FAF7F3;
$secondary: #814141;
$dark: #313131;

//Spacing
$mn: 48px;
$sp-mini: 4px;
$sp-xxs: 8px;
$sp-xs: 12px;
$sp-s: 16px;
$sp-m: 24px;
$sp-l: 32px;
$sp-xl: 64px;
$sp-xxl: 128px;
$max-width: 1440px;

