@import "../../styles/main.module.scss";

.catering {
  
  padding: $mn 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sectionTitle {
    @include sectionTitle;
  }

  .heroText {
    @include heroText;
    padding-top: $sp-m;
   
  }
}