@import "../../styles/main.module.scss";

.catering {
  padding: $sp-xxl 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  

  @include lg {
    padding: $sp-xl 0;
  }
  @include md {
    padding: $sp-l 0;
  }

  @include sm {
    padding: $sp-m 0;
  
  }

  .sectionTitle {
    @include sectionTitle;
  }

  p {
    @include cateringText;
    padding: $sp-s 0;

    @include sm {
      padding: $sp-xs 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 32em;
    width: 85%;
    @include lg {
      width: 40%;
    }
    @include md {
      width: 50%;
    }

    @include sm {
      width: 70%;
      padding-top: $sp-m;
    }

    span {
      padding: $sp-xs 0;

      @include lg {
        padding: $sp-mini 0;
      }

      @include sm {
        padding: $sp-xxs 0;
      }

      label {
        @include labelText;
        padding: $sp-m 0;
      }

      input,
      textarea {
        @include inputText;
        width: 100%;
        border-radius: 5px;
        margin-top: $sp-xxs;
        border: 1px solid $secondary;
      }
      input {
        padding: 0.2em 0.3em;
      }
      textarea {
        height: 10em;
        padding: 0.5em 0.5em;
      }
    }
    .cateringBtn {
      @include buttons;
      background: $secondary;
      width: 120px;
      height: 45px;
      place-self: center;
      font-size: 16px;
      margin: $sp-xs 0;
      cursor: pointer;
      &:hover {
        color: $secondary;
        background-color: transparent;
        border: 1px solid $secondary;
        box-shadow: 0px 3px 3px rgba(139, 93, 93, 0.25);
      }

      @include lg {
        width: 100px;
        height: 35px;
      }

      @include sm {
        margin-top: $sp-xl;
      }
    }
  }
}
