@import "./abstracts/_variables.scss";
@import "./abstracts/_mixins.scss";
@import "./abstracts/_breakpoints.modu.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: $primary;
  color: $dark;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $primary;
  cursor: pointer;
}

li {
  list-style: none;
}

.App {
  font-family: Roboto;
}
