@import "../../styles/main.module.scss";

header {
  height: max-content;
  background-color: $secondary;
  color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 1px rgb(114, 86, 86);

  .navBar {
    display: flex;
    padding: $sp-s $mn;
    @include navText;

    @include sm {
      padding: $sp-xs $sp-m;
    }

    .navList {
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      padding: 0 $mn;

      @include sm {
        padding: 0 $sp-s;
      }
    }

    .cart {
      width: 10%;
    }
  }
}
