@import "../../styles/main.module.scss";

.hamBtn {
  background: none;
  border: none;
  font-size: 32px;
  color: $secondary;
  place-self: flex-end;
  padding: $sp-m;
  @include breakpoint(400px) {
    padding: $sp-s;
    font-size: 30px;
  }
  @include breakpoint(360px) {
    padding: $sp-xxs;
    font-size: 28px;
  }
}

.mobileHeader {
  height: 100vh;
  background: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  gap: $sp-m;
  width: 40vh;
  font-size: 20px;
  margin-left: auto;

  @include breakpoint(400px) {
    font-size: 18px;
  }
  a {
    color: $primary;
  }

  .xMark {
    position: fixed;
    margin-top: -100px;
    margin-left: 80px;
    color: $primary;
    font-size: 32px;
  }

  .navList {
    display: flex;
    gap: $sp-l;
    flex-direction: column;
    padding-bottom: $sp-l;
  }
}

.header {
  height: max-content;
  background: $secondary;
  color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 1px rgb(114, 86, 86);

  a {
    text-decoration: none;
    color: $primary;
    cursor: pointer;
    &:hover {
      color: $links;
    }
  }

  .navBarMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .navBar {
    display: flex;
    padding: $sp-s $mn;
    @include navText;

    @include sm {
      padding: $sp-xs $sp-m;
    }

    .desktopNav {
      display: flex;
      width: 100%;

      .navList {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding: 0 $mn;

        @include sm {
          padding: 0 $sp-s;
        }
      }

      .cart {
        width: 10%;
      }
    }
  }
}
