@import "../../styles/main.module.scss";

footer {
  padding: $sp-xl 0 $sp-l;
  display: flex;
  flex-direction: column;
  gap: $mn;
  background: $secondary;
  color: $primary;
  @include footerText;
  

  @include lg {
    padding: $sp-xl 0 $sp-s;
    gap: $sp-l;
  }
 
  a {
    color: $links;
    cursor: pointer;
    width: max-content;
    &:hover {
      border-bottom: 1px dotted #f8b124; ;
      color: #f8b124; 
    }
  }

  .footerText {
    font-size: 20px;
    line-height: 1.9;
    width: 80%;
    margin: 0 auto;

    @include lg {
      font-size: 18px;
      width: 85%;
    }

    @include md {
      width: 90%;
    }
    @include breakpoint(800px) {
      font-size: 16px;
      width: 85%;
    }  
  }

  .footerInfo {
    display: flex;
    justify-content: space-between;
    width: 80%;
    place-self: center;

    @include lg {
      width: 85%;
    }

    @include md {
      width: 90%;
    }

    @include sm {
      flex-direction: column;
      gap: $sp-m;
      width: 85%;
    }
    
    
    .newsLetter,
    .visitUs,
    .footerLinks {
      display: flex;
      flex-direction: column;
      gap: $sp-m;

      @include lg {
        gap: $sp-xs;
        font-size: 14px;
      }

      @include sm {
        font-size: 16px;
        gap: $sp-xxs;
      }  

    }

    h3 {
      @include h3Title;
    }


    .newsLetter {
      @include breakpoint(800px) {
        width: 35%;
      }
      @include sm {
        width: 85%;
      }
      form {
        max-width: 22em;
        input {
          width: 100%;
          border: none;
          background: none;
          border-bottom: 1.5px solid $primary;
          margin-top: $sp-s;
          color: $primary;
          font-size: 16px;
          padding: 0.2em 0.1em;
          &:focus {
            border: 1px solid $primary;
            outline: none;
            border-radius: 5px;
          }
        }

        button {
          @include buttons;
          padding: $sp-xxs $sp-m;
          color: $secondary;
          margin: $sp-m 0;
          float: right;
          cursor: pointer;
          &:hover {
            color: $primary;
            background-color: transparent;
            border: 1px solid $primary;
           
          }
          
          @include lg {
            padding: $sp-mini $sp-s;
          }
        }
      }
    }
  }
  
  .copyRight {
    margin: 0 auto;
    width: max-content;

    @include sm {
      width: 85%;
    text-align: center;
    }
  }
}
